# Wallaby needs test runner deps resolvable from the monorepo root.
# https://wallabyjs.com/docs/integration/vitest/#using-pnpm
public-hoist-pattern[]=*vitest*
public-hoist-pattern[]=vite-node
public-hoist-pattern[]=vite
public-hoist-pattern[]=@vitejs/*
public-hoist-pattern[]=jsdom
public-hoist-pattern[]=msw
