@import "tailwindcss";

@source "./**/*.{js,ts,jsx,tsx}";

@theme {
  --color-primary: #4c64d9;
  --color-primary-active: #37489f;
  --color-primary-foreground: #ffffff;

  --shadow-raised:
    0 4px 8px -2px rgb(0 0 0 / 0.04), 0 2px 4px -2px rgb(0 0 0 / 0.08);

  /* Colour */
  --color-fill-weak: rgba(0, 21, 128, 0.04);
  --color-fg-strong: rgba(0, 6, 38, 0.9);
  --color-fg-weak: rgba(0, 9, 51, 0.65);
  --color-icon-neutral: rgba(0, 13, 77, 0.45);

  /* Text field */
  --color-fill-inverse: #ffffff;
  --color-fill-hover: rgba(0, 21, 128, 0.04);
  --color-fill-press: rgba(0, 17, 102, 0.1);
  --color-fill-error-weak: rgba(255, 74, 74, 0.05);
  --color-stroke-weak: rgba(0, 17, 102, 0.1);
  --color-stroke-strong: rgba(0, 13, 77, 0.45);
  --color-stroke-focus: #4c64d9;
  --color-stroke-disabled: rgba(0, 17, 102, 0.1);
  --color-stroke-error-strong: rgba(199, 58, 58, 0.8);
  --color-text-disabled: rgba(0, 17, 102, 0.1);
  --color-text-error: #c73a3a;
  --color-icon-error: rgba(199, 58, 58, 0.8);

  /* Typography */
  --font-body: Inter, ui-sans-serif, system-ui, sans-serif;
  --text-small: 16px;
  --text-small--line-height: 24px;
  --text-tiny: 14px;
  --text-tiny--line-height: 20px;

  /* Shape */
  --radius-card: 12px;
}

@layer base {
  :root {
    --color-primary: #4c64d9;
  }
  .dark {
    --color-primary: #8495eb;
    --color-primary-active: #6b7fd4;
  }
}
